streamlit
opencv-python
opencv-python
pyzbar
pillow
requests
gspread
oauth2client
pandas
google-api-python-client
pytz
streamlit-js-eval
streamlit-geolocation
matplotlib
google-auth
google-auth-httplib2
google-auth-oauthlib
plotly
reportlab
xlsxwriter









